<tr data-id="">
    <td>
        <input data-val="true" data-val-number="The field ID must be a number." data-val-required="The ID field is required." id="ItemVarians_0__Invents_ID" name="ItemVarians[0].Invents.ID" value="0" type="hidden">
        <input class="form-control text-box single-line" id="ItemVarians_0__Invents_VariantName" name="ItemVarians[0].Invents.VariantName" value="" type="text" readonly>
    </td>
    <td><input class="form-control text-box single-line" data-val="true" data-val-number="The field InStock must be a number." id="ItemVarians_0__Invents_InStock" name="ItemVarians[0].Invents.InStock" value="" type="number"></td>
    <td><input class="form-control text-box single-line" data-val="true" data-val-number="The field AlertAt must be a number." id="ItemVarians_0__Invents_AlertAt" name="ItemVarians[0].Invents.AlertAt" value="" type="number"></td>
</tr>
