<tr data-id="">
    <td><input name="invent-name" type="text" data-value="" class="input-inv-name form-control" placeholder="Variant" /></td>
    <td><input name="invent-instock" type="text" data-value="" class="form-control" placeholder="In Stock" readonly/></td>
    <td><input name="invent-alert" type="text" data-value="" class="form-control" placeholder="Alert At" /></td>
</tr>
