<tr data-id="">
    <td><input name="variant-name" type="text" data-value="" class="input-var-name form-control" placeholder="Variant" onkeyup="BindWithInventory(this)" /></td>
    <td><input name="variant-sku" type="text" data-value="" class="form-control" placeholder="SKU" /></td>
    <td><input name="variant-price" type="text" data-value="" class="form-control" placeholder="Price" /></td>
    <td><button type="button" class="btn btn-del-var btn-danger" onclick="RemoveRow($(this).closest('tr').index())"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
</tr>