

@{
    ViewBag.Title = "Items";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-sm-6">
        <div class="input-group">
            <input id="index-search" type="text" style="max-width: 100%;" class="form-control" placeholder="Find category...">
            <span class="input-group-btn">
                <button class="btn btn-default btn-search" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </span>
        </div><!-- /input-group -->
    </div>
    <div class="col-sm-6">
        <button type="button" id="btn-add" class="btn btn-primary">Create</button>
    </div>
</div>
<hr />
<div id="TableList">
</div>

<div id="modal-form" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Items</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            SearchDefault();
        });

        function SearchDefault() {
            var textSearch = $("#index-search").val();
            $.ajax({
                url: '@Url.Action("Search", "Items")',
                data: { strSearch: textSearch },
                type: 'get',
                success: function (result) {
                    $("#TableList").html(result);
                }
            });
        }
</script>
}